body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
  line-height: 1.6;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* Center main content */
main {
  max-width: 1200px;
  margin: 0 auto;
}

/* Hero section styles */
.hero {
  background-color: #636dca;
  background-size: cover;
  background-position: center;
  padding: 50px 0; /* Adjusted padding to decrease height */
  text-align: center;
  color: white;
  box-shadow: 0 10px 20px rgba(28, 25, 25, 0.3);
  position: relative; /* Added position relative */
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}




.hero h1 {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff; /* Set text color to white */
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 30px;
  color: #f0f0f0; /* Set text color to light gray */
}

.btn {
  display: inline-block;
  padding: 15px 30px; /* Increased padding */
  background-color: #1abc9c;
  color: #fff;
  text-decoration: none;
  border-radius: 25px; /* Rounded button */
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #16a085;
}

/* Container styles */
.containers-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px;
}

/* Container styles */
.container {
  flex-basis: calc(33% - 20px); /* Increased width to 40% */
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s, border-color 0.3s;
  background-color: #fff;
  padding: 30px;
  border: 2px solid #ddd;
}

.container:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2); /* Enhanced box shadow on hover */
  background-color: #f0f0f0; /* Lighter background color on hover */
  border-color: #ccc; /* Lighter border color on hover */
}

.container h2 {
  font-size: 28px; /* Increased heading font size */
  color: #333;
}

.container p {
  font-size: 18px; /* Increased paragraph font size */
  line-height: 1.8; /* Increased line height for better readability */
  color: #666;
  margin-bottom: 20px; /* Increased margin bottom for spacing */
}

.container p:last-child {
  margin-bottom: 0;
}

.container .read-more {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1abc9c;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.container .read-more:hover {
  background-color: #16a085;
}

.container img {
  max-width: 100%; /* Ensure images don't overflow container */
  border-radius: 10px; /* Add border radius to images */
  margin-bottom: 20px; /* Increased margin bottom for spacing */
}