<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand">Cabin B</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/spaces">Back</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="main">
    <div class="div1">
        <div class="r1c1">
            <div class="bench">b1</div>
            <div class="bench">b2</div>
            <div class="bench">b3</div>
            <div class="bench">b4</div>
            <div class="bench">b5</div>
        </div>
        <div class="r2c1">
            <div class="bench">b6</div>
            <div class="bench">b7</div>
            <div class="bench">b8</div>
            <div class="bench">b9</div>
            <div class="bench">b10</div>
        </div>
        <div class="r3c1">
            <div class="bench">b11</div>
            <div class="bench">b12</div>
            <div class="bench">b13</div>
            <div class="bench">b14</div>
            <div class="bench">b15</div>
        </div>
        <div class="r4c1">
            <div class="bench">b16</div>
            <div class="bench">b17</div>
            <div class="bench">b18</div>
            <div class="bench">b19</div>
            <div class="bench">b20</div>
        </div>
        <div class="r5c1">
            <div class="bench">b21</div>
            <div class="bench">b22</div>
            <div class="bench">b23</div>
            <div class="bench">b24</div>
            <div class="bench">b25</div>
        </div>
        <div class="r6c1">
            <div class="bench">b26</div>
            <div class="bench">b27</div>
            <div class="bench">b28</div>
            <div class="bench">b29</div>
            <div class="bench">b30</div>
        </div>
    </div>

    <div class="div2">
        <div class="r1c1">
            <div class="bench">b31</div>
            <div class="bench">b32</div>
            <div class="bench">b33</div>
            <div class="bench">b34</div>
            <div class="bench">b35</div>
        </div>
        <div class="r2c1">
            <div class="bench">b36</div>
            <div class="bench">b37</div>
            <div class="bench">b38</div>
            <div class="bench">b39</div>
            <div class="bench">b40</div>
        </div>
        <div class="r3c1">
            <div class="bench">b41</div>
            <div class="bench">b42</div>
            <div class="bench">b43</div>
            <div class="bench">b44</div>
            <div class="bench">b45</div>
        </div>
        <div class="r4c1">
            <div class="bench">b46</div>
            <div class="bench">b47</div>
            <div class="bench">b48</div>
            <div class="bench">b49</div>
            <div class="bench">b50</div>
        </div>
        <div class="r5c1">
            <div class="bench">b51</div>
            <div class="bench">b52</div>
            <div class="bench">b53</div>
            <div class="bench">b54</div>
            <div class="bench">b55</div>
        </div>
        <div class="r6c1">
            <div class="bench">b56</div>
            <div class="bench">b57</div>
            <div class="bench">b58</div>
            <div class="bench">b59</div>
            <div class="bench">b60</div>
        </div>
    </div>

    <div class="div3">
        <div class="r1c3">
            <div class="bench">b61</div>
            <div class="bench">b62</div>
            <div class="bench">b63</div>
            <div class="bench">b64</div>
            <div class="bench">b65</div>
        </div>
        <div class="r2c3">
            <div class="bench">b66</div>
            <div class="bench">b67</div>
            <div class="bench">b68</div>
            <div class="bench">b69</div>
            <div class="bench">b70</div>
        </div>
        <div class="r3c3">
            <div class="bench">b71</div>
            <div class="bench">b72</div>
            <div class="bench">b73</div>
            <div class="bench">b74</div>
            <div class="bench">b75</div>
        </div>
        <div class="r4c3">
            <div class="bench">b76</div>
            <div class="bench">b77</div>
            <div class="bench">b78</div>
            <div class="bench">b79</div>
            <div class="bench">b80</div>
        </div>
        <div class="r5c3">
            <div class="bench">b81</div>
            <div class="bench">b82</div>
            <div class="bench">b83</div>
            <div class="bench">b84</div>
            <div class="bench">b85</div>
        </div>
        <div class="r6c3">
            <div class="bench">b86</div>
            <div class="bench">b87</div>
            <div class="bench">b88</div>
            <div class="bench">b89</div>
            <div class="bench">b90</div>
        </div>
    </div>

    <div class="div4">
        <div class="r1c4">
            <div class="bench">b91</div>
            <div class="bench">b92</div>
            <div class="bench">b93</div>
            <div class="bench">b94</div>
            <div class="bench">b95</div>
        </div>
        <div class="r2c4">
            <div class="bench">b96</div>
            <div class="bench">b97</div>
            <div class="bench">b98</div>
            <div class="bench">b99</div>
            <div class="bench">b100</div>
        </div>
        <div class="r3c4">
            <div class="bench">b101</div>
            <div class="bench">b102</div>
            <div class="bench">b103</div>
            <div class="bench">b104</div>
            <div class="bench">b105</div>
        </div>
        <div class="r4c4">
            <div class="bench">b106</div>
            <div class="bench">b107</div>
            <div class="bench">b108</div>
            <div class="bench">b109</div>
            <div class="bench">b110</div>
        </div>
        <div class="r5c4">
            <div class="bench">b111</div>
            <div class="bench">b112</div>
            <div class="bench">b113</div>
            <div class="bench">b114</div>
            <div class="bench">b115</div>
        </div>
        <div class="r6c4">
            <div class="bench">b116</div>
            <div class="bench">b117</div>
            <div class="bench">b118</div>
            <div class="bench">b119</div>
            <div class="bench">b120</div>
        </div>
    </div>
</div>
