.navbar {
  border-radius: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}

.navbar-nav .nav-link {
  font-size: 18px;
  padding: 10px 15px;
  color: #333;
  text-transform: uppercase;
}

.navbar-toggler {
  border: none;
  background-color: transparent;
  color: #333;
  font-size: 1.5rem;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  transition: color 0.3s, transform 0.3s;
}

.navbar-toggler-icon {
  width: 1.5em;
  height: 1.5em;
  transition: color 0.3s;
}

.navbar-toggler:hover {
  transform: scale(1.1);
}

@media (max-width: 991px) {
  .navbar-nav {
      margin-top: 10px;
  }

  .navbar-collapse {
      background-color: #a4a6bb;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
  }
}

.navbar-nav .nav-link {
  position: relative;
}

.navbar-nav .nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #1abc9c;
  transition: width 0.3s ease;
}

#navbarDropdown::after {
  background-color: white;
}

.navbar-nav .nav-link:hover::after {
  width: 100%;
}

.dropdown-menu {
  border-radius: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  font-size: 16px;
  padding: 10px 15px;
  color: #333;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #f7f7f7;
  color: #1abc9c;
}

.dropdown-toggle::after {
  width: 0;
  height: 0;
  margin-left: .5em;
  vertical-align: middle;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Adjusted font size and padding for dropdown items */
.dropdown-item {
  font-size: 14px;
  padding: 8px 20px;
}

.main {
  display: flex;
  border: 3px solid grey;
  margin: auto;
  margin-top:90px;
  background-color: #e7e8f1;
  max-width: 1500px;
  padding: 10px; /* Added padding for better spacing */
  margin-bottom: 70px;
}

.bench {
  background-color: rgb(235, 67, 67);
  width: 55px;
  height: 55px;
  margin: auto;
  margin-right: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
}

.bench:hover {
  transform: scale(1.1);
  background-color: rgb(174, 62, 62);
}

.div1,
.div2,
.div3,
.div4 {
  margin-right: 20px;
}

.r1c1,.r2c1,.r3c1,.r4c1,.r5c1,.r6c1,
.r1c2,.r2c2,.r3c2,.r4c2,.r5c2,.r6c2,
.r1c3,.r2c3,.r3c3,.r4c3,.r5c3,.r6c3,
.r1c4,.r2c4,.r3c4,.r4c4,.r5c4,.r6c4
  {
    display:flex;
  }


/* Media queries for responsiveness */
@media (max-width: 768px) {
  .main {
      flex-direction: column; /* Stack divs vertically on smaller screens */
      align-items: center; /* Center the content vertically */
  }

  .bench {
      width: 65px; /* Decrease width on smaller screens */
      height: 65px; /* Decrease height on smaller screens */
      font-size: 16px; /* Decrease font size on smaller screens */
      line-height: 35px; /* Adjusted line height */
  }

  .div1,
  .div2,
  .div3,
  .div4 {/* Remove left margin on smaller screens */
      margin-bottom: 50px; /* Adjusted margin bottom */
  }
}

.b1,.b2
{
  width:40px;
  height:40px;
}

.b1
{
  margin-left: 650px;
  background-color:blue;
}

.b2
{
  margin-left: 150px;
  background-color:#eb4343;

}
.abc
{
  display:flex;
}

h6
{
  line-break: 40px;
}

