<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" >Cabin A</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          
          <li class="nav-item">
            <a class="nav-link" routerLink="/spaces">Back</a>
          </li>
          
        </ul>
      </div>
    </div>
</nav>



<div class="main">
    <div class="div1">
        <div class="r1c1">
            <div class="bench">A1</div>
            <div class="bench">A2</div>
            <div class="bench">A3</div>
            <div class="bench">A4</div>
        </div>
        <div class="r2c1">
            <div class="bench">A5</div>
            <div class="bench">A6</div>
            <div class="bench">A7</div>
            <div class="bench">A8</div>
        </div>
        <div class="r3c1">
            <div class="bench">A9</div>
            <div class="bench">A10</div>
            <div class="bench">A11</div>
            <div class="bench">A12</div>
        </div>
        <div class="r4c1">
            <div class="bench">A13</div>
            <div class="bench">A14</div>
            <div class="bench">A15</div>
            <div class="bench">A16</div>
        </div>
        <div class="r5c1">
            <div class="bench">A17</div>
            <div class="bench">A18</div>
            <div class="bench">A19</div>
            <div class="bench">A20</div>
        </div>
        <div class="r6c1">
            <div class="bench">A21</div>
            <div class="bench">A22</div>
            <div class="bench">A23</div>
            <div class="bench">A24</div>
        </div>
        <div class="r7c1">
            <div class="bench">A25</div>
            <div class="bench">A26</div>
            <div class="bench">A27</div>
            <div class="bench">A28</div>
        </div>
        <div class="r8c1">
            <div class="bench">A29</div>
            <div class="bench">A30</div>
            <div class="bench">A31</div>
            <div class="bench">A32</div>
        </div>
        <div class="r9c1">
            <div class="bench">A33</div>
            <div class="bench">A34</div>
            <div class="bench">A35</div>
            <div class="bench">A36</div>
        </div>
        <div class="r10c1">
            <div class="bench">A37</div>
            <div class="bench">A38</div>
            <div class="bench">A39</div>
            <div class="bench">A40</div>
        </div>
    </div>
    
    <div class="div1">
        <div class="r1c2">
            <div class="bench">B1</div>
            <div class="bench">B2</div>
            <div class="bench">B3</div>
            <div class="bench">B4</div>
        </div>
        <div class="r2c2">
            <div class="bench">B5</div>
            <div class="bench">B6</div>
            <div class="bench">B7</div>
            <div class="bench">B8</div>
        </div>
        <div class="r3c2">
            <div class="bench">B9</div>
            <div class="bench">B10</div>
            <div class="bench">B11</div>
            <div class="bench">B12</div>
        </div>
        <div class="r4c2">
            <div class="bench">B13</div>
            <div class="bench">B14</div>
            <div class="bench">B15</div>
            <div class="bench">B16</div>
        </div>
        <div class="r5c2">
            <div class="bench">B17</div>
            <div class="bench">B18</div>
            <div class="bench">B19</div>
            <div class="bench">B20</div>
        </div>
        <div class="r6c2">
            <div class="bench">B21</div>
            <div class="bench">B22</div>
            <div class="bench">B23</div>
            <div class="bench">B24</div>
        </div>
        <div class="r7c2">
            <div class="bench">B25</div>
            <div class="bench">B26</div>
            <div class="bench">B27</div>
            <div class="bench">B28</div>
        </div>
        <div class="r8c2">
            <div class="bench">B29</div>
            <div class="bench">B30</div>
            <div class="bench">B31</div>
            <div class="bench">B32</div>
        </div>
        <div class="r9c2">
            <div class="bench">B33</div>
            <div class="bench">B34</div>
            <div class="bench">B35</div>
            <div class="bench">B36</div>
        </div>
        <div class="r10c2">
            <div class="bench">B37</div>
            <div class="bench">B38</div>
            <div class="bench">B39</div>
            <div class="bench">B40</div>
        </div>
    </div>

</div>