<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" >Cabin A</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          
          <li class="nav-item">
            <a class="nav-link" routerLink="/spaces">Back</a>
          </li>
          
        </ul>
      </div>
    </div>
</nav>



<div class="main">
    <div class="div1">
        <div class="r1c1">
            <div class="bench" (click)="addToMyReservations('A1')">A1</div>
            <div class="bench"(click)="addToMyReservations('A2')">A2</div>
            <div class="bench"(click)="addToMyReservations('A3')">A3</div>
            <div class="bench"(click)="addToMyReservations('A4')">A4</div>
        </div>
        <div class="r2c1">
            <div class="bench"(click)="addToMyReservations('A5')">A5</div>
            <div class="bench"(click)="addToMyReservations('A6')">A6</div>
            <div class="bench"(click)="addToMyReservations('A7')">A7</div>
            <div class="bench"(click)="addToMyReservations('A8')">A8</div>
        </div>
        <div class="r3c1">
            <div class="bench" (click)="addToMyReservations('A9')">A9</div>
            <div class="bench"(click)="addToMyReservations('A10')">A10</div>
            <div class="bench"(click)="addToMyReservations('A11')">A11</div>
            <div class="bench"(click)="addToMyReservations('A12')">A12</div>
        </div>
        <div class="r4c1">
            <div class="bench" (click)="addToMyReservations('A13')">A13</div>
            <div class="bench" (click)="addToMyReservations('A14')">A14</div>
            <div class="bench" (click)="addToMyReservations('A15')">A15</div>
            <div class="bench" (click)="addToMyReservations('A16')">A16</div>
        </div>
        <div class="r5c1">
            <div class="bench" (click)="addToMyReservations('A17')">A17</div>
            <div class="bench" (click)="addToMyReservations('A18')">A18</div>
            <div class="bench" (click)="addToMyReservations('A19')">A19</div>
            <div class="bench"(click)="addToMyReservations('A20')">A20</div>
        </div>
        <div class="r6c1">
            <div class="bench" (click)="addToMyReservations('A21')">A21</div>
            <div class="bench" (click)="addToMyReservations('A22')">A22</div>
            <div class="bench" (click)="addToMyReservations('A23')">A23</div>
            <div class="bench" (click)="addToMyReservations('A24')">A24</div>
        </div>
        <div class="r7c1">
            <div class="bench" (click)="addToMyReservations('A25')">A25</div>
            <div class="bench" (click)="addToMyReservations('A26')">A26</div>
            <div class="bench" (click)="addToMyReservations('A27')">A27</div>
            <div class="bench"(click)="addToMyReservations('A28')">A28</div>
        </div>
        <div class="r8c1">
            <div class="bench"(click)="addToMyReservations('A29')">A29</div>
            <div class="bench"(click)="addToMyReservations('A30')">A30</div>
            <div class="bench"(click)="addToMyReservations('A31')">A31</div>
            <div class="bench"(click)="addToMyReservations('A32')">A32</div>
        </div>
        <div class="r9c1">
            <div class="bench" (click)="addToMyReservations('A33')">A33</div>
            <div class="bench"(click)="addToMyReservations('A34')">A34</div>
            <div class="bench"(click)="addToMyReservations('A35')">A35</div>
            <div class="bench"(click)="addToMyReservations('A36')">A36</div>
        </div>
        <div class="r10c1">
            <div class="bench"(click)="addToMyReservations('A37')">A37</div>
            <div class="bench"(click)="addToMyReservations('A38')">A38</div>
            <div class="bench"(click)="addToMyReservations('A39')">A39</div>
            <div class="bench"(click)="addToMyReservations('A40')">A40</div>
        </div>
    </div>
    
    <div class="div1">
        <div class="r1c2">
            <div class="bench" (click)="addToMyReservations('A41')">A41</div>
            <div class="bench" (click)="addToMyReservations('A42')">A42</div>
            <div class="bench" (click)="addToMyReservations('A43')">A43</div>
            <div class="bench" (click)="addToMyReservations('A44')">A44</div>
        </div>
        <div class="r2c2">
            <div class="bench" (click)="addToMyReservations('A45')">A45</div>
            <div class="bench" (click)="addToMyReservations('A46')">A46</div>
            <div class="bench" (click)="addToMyReservations('A47')">A47</div>
            <div class="bench" (click)="addToMyReservations('A48')">A48</div>
        </div>
        <div class="r3c2">
            <div class="bench" (click)="addToMyReservations('A49')">A49</div>
            <div class="bench" (click)="addToMyReservations('A50')">A50</div>
            <div class="bench" (click)="addToMyReservations('A51')">A51</div>
            <div class="bench" (click)="addToMyReservations('A52')">A52</div>
        </div>
        <div class="r4c2">
            <div class="bench" (click)="addToMyReservations('A53')">A53</div>
            <div class="bench" (click)="addToMyReservations('A54')">A54</div>
            <div class="bench" (click)="addToMyReservations('A55')">A55</div>
            <div class="bench" (click)="addToMyReservations('A56')">A56</div>
        </div>
        <div class="r5c2">
            <div class="bench" (click)="addToMyReservations('A57')">A57</div>
            <div class="bench" (click)="addToMyReservations('A58')">A58</div>
            <div class="bench" (click)="addToMyReservations('A59')">A59</div>
            <div class="bench" (click)="addToMyReservations('A60')">A60</div>
        </div>
        <div class="r6c2">
            <div class="bench" (click)="addToMyReservations('A61')">A61</div>
            <div class="bench" (click)="addToMyReservations('A62')">A62</div>
            <div class="bench" (click)="addToMyReservations('A63')">A63</div>
            <div class="bench" (click)="addToMyReservations('A64')">A64</div>
        </div>
        <div class="r7c2">
            <div class="bench" (click)="addToMyReservations('A65')">A65</div>
            <div class="bench" (click)="addToMyReservations('A66')">A66</div>
            <div class="bench" (click)="addToMyReservations('A67')">A67</div>
            <div class="bench" (click)="addToMyReservations('A68')">A68</div>
        </div>
        <div class="r8c2">
            <div class="bench" (click)="addToMyReservations('A69')">A69</div>
            <div class="bench" (click)="addToMyReservations('A70')">A70</div>
            <div class="bench" (click)="addToMyReservations('A71')">A71</div>
            <div class="bench" (click)="addToMyReservations('A72')">A72</div>
        </div>
        <div class="r9c2">
            <div class="bench" (click)="addToMyReservations('A73')">A73</div>
            <div class="bench" (click)="addToMyReservations('A74')">A74</div>
            <div class="bench" (click)="addToMyReservations('A75')">A75</div>
            <div class="bench" (click)="addToMyReservations('A76')">A76</div>
        </div>
        <div class="r10c2">
            <div class="bench" (click)="addToMyReservations('A77')">A77</div>
            <div class="bench" (click)="addToMyReservations('A78')">A78</div>
            <div class="bench" (click)="addToMyReservations('A79')">A79</div>
            <div class="bench" (click)="addToMyReservations('A80')">A80</div>
        </div>
    </div>

</div>
